<!doctype html>
<html lang="zh">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Hanan_Yu.Liu</title>
	<link rel="shortcut icon" type="image/x-icon" href="/statics/images/icon.png"/>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="/statics/css/index.css" media="all" />
</head>

<body class="home blog custom-background round-avatars">
	<div class="Yarn_Background" style="background-image: url(/statics/images/bg.png);"></div>
	<form class="js-search search-form search-form--modal" method="get" action="search" role="search">
		<div class="search-form__inner">
			<div>
				<div id="search-container" class="ajax_search">
					<form method="get" id="searchform" action="">
						<div class="filter_container"><input type="text" value="" autocomplete="off"
								placeholder="请输入" name="s" id="search-input" />
							<ul id="search_filtered" class="search_filtered"></ul>
						</div>
						<input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
					</form>
				</div>
			</div>
		</div>
	</form>
	<div class="navi" data-aos="fade-down">
		<div class="bt-nav">
			<div class="line line1"></div>
			<div class="line line2"></div>
			<div class="line line3"></div>
		</div>
		<div class="navbar animated fadeInRight">
			<div class="inner">
				<nav id="site-navigation" class="main-navigation">
					<div id="main-menu" class="main-menu-container">
						<div class="menu-menu-container">
							<ul id="primary-menu" class="menu">
								<li id="menu-item-17"
									class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
									<a href="index">首页</a>
								</li>
								<li id="menu-item-173"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
									<a href="javascript:void(0);">更新</a>
								</li>
								<li id="menu-item-78"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
									<a href="link">链接</a>
								</li>
								<li id="menu-item-252"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
									<a href="archives">归档</a>
								</li>
								<li id="menu-item-57"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
									<a href="gustbook">留言</a>
								</li>
								<li id="menu-item-57"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
									<a href="article">撰写</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- #site-navigation -->
			</div>
		</div>
	</div>
	<div class="hebin" data-aos="fade-down">
		<i class=" js-toggle-search iconfont">&#xe60e;</i>
	</div>
	<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
		<div class="site-branding text-center">
			<a href="index">
				<figure>
					<img class="custom-logo avatar" src="/statics/images/omikron1.png" />
				</figure>
			</a>
			<h3 class="blog-description">
				<p>Hanan_Yu.Liu</p>
			</h3>
		</div>
		<!-- .site-branding -->
		<div class="decor-part">
			<div id="particles-js"></div>
		</div>
		<div class="animation-header">
			<div class="decor-wrapper">
				<svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1"
					viewBox="0 0 100 100" preserveAspectRatio="none">
					<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
					<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
					<path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
					<path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
					<path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
					<path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
					<path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
					<path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
				</svg>
			</div>
		</div>
	</header>
	<div id="main" class="content">
		<div class="container">
			<section class="post_content" itemscope itemtype="http://www.hananyu.cn/archives.html">
				<header class="post_header">
					<h1 class="post_title">档 案</h1>
				</header>
				<div class="post-Archive">
					<div id="archives">

						</div>
			</section>
		</div>
	</div>

	<footer id="footer" class="overlay animated from-top">
		<div class="decor-wrapper">
			<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1"
				viewBox="0 0 100 100" preserveAspectRatio="none">
				<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
				<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
				<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
				<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
				<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
				<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
				<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
				<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
			</svg>
		</div>

		<div class="cr">&copy;2020. Design by <a href="">Hanan_Yu.Liu</a></div>
		<script type='text/javascript' src='/statics/js/jquery.min.js'></script>
		<script type='text/javascript' src='/statics/js/plugins.js'></script>
		<script type='text/javascript' src='/statics/js/script.js'></script>
		<script type='text/javascript' src='/statics/js/particles.js'></script>
		<script type='text/javascript' src='/statics/js/aos.js'></script>
		<script type="text/javascript" src="/statics/js/config.js"></script>
		<script>
			$(function () {
				$.ajax({
					url: url.baseUrl + "api/record/get",
					type: 'post',
					contentType: 'application/json;charset=utf-8',
					dateType: 'json',
					async: false,
					success: function (data) {
						if (data.code == 200) {
							//后台直接通过时间排序
							let list = data.data;
							let html = '';
							for (var i=0;i<list.length;i++) {
								html += '<div class="archive-title" id="arti-' + list[i].yearM + '"><h3> ' + list[i].yearM + '</h3>' +
									'<div class="archives archives-6" data-date=' + list[i].yearM + '><div class="brick">' +
									'<a href="detail?id='+ list[i].id +'"><span class="time">'+ list[i].dateM +'</span>'+ list[i].title +'<span>('+ list[i].reviewCount +')</span></a></div>';
								for(var j=1;j<list.length;j++){
									if(list[i].yearM == list[j].yearM){
										html += '<div class="brick"><a href="detail?id='+ list[j].id +'"><span class="time">'+ list[j].dateM +
										'</span>'+ list[j].title +'<span>('+ list[j].reviewCount +')</span></a></div>';
										list.splice(j, 1);
										j--;
									}
								}
								list.shift();
								i--;
								html += '</div></div>';
							}
							$("#archives").append(html);
						}
					},
					error: function () {
						console.log(e)
					}
				});
			})
		</script>

</body>

</html>